#body {
    display: flex;
    justify-content: space-evenly;
    max-height: 11in;
    background-color: white;
}

#inputs {
    display: flex;
    width: 30vw;
    height: 100%;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 8px;
    overflow: auto;
    max-height: 11in;
}

h1 {
    font-weight: normal;
}

.inputButton {
    all: unset;
    text-align: center;
    width: 30vw;
    height: 6vh;
    font-size: 32px;
    font-family: 'Roboto'
}

.inputButton:hover {
    background-color: rgb(19, 70, 102);
    color: white;
}

form {
    font-family: 'Roboto';
}

#left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#download {
    height: 3em;
    width: 12em;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

#download:hover {
    background-color: rgb(19, 70, 102);
    color: white;
}